@import url("/node_modules/primeflex/primeflex.css");

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.table-footer {
  align-items: right;
  align-content: flex-end;
}

.hide-col {
  display: none;
}
